{% block contentAside %}
<div class="large-4 medium-4 columns">
    <h5>Try one of these buttons:</h5>
    <p> <a href="#" class="small button">Simple Button</a><br/>
        <a href="#" class="small radius button">Radius Button</a><br/>
        <a href="#" class="small round button">Round Button</a><br/>
        <a href="#" class="medium success button">Success Btn</a><br/>
        <a href="#" class="medium alert button">Alert Btn</a><br/>
        <a href="#" class="medium secondary button">Secondary Btn</a></p>
    <div class="panel">
        <h5>So many components, girl!</h5>
        <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details on making them your own.</p>
        <a target="_blank" href="http://foundation.zurb.com/docs/" class="small button">Go to Foundation Docs</a>
    </div>
</div>
{% endblock %}
