<div id="index">
    {% if menu_default == 'Default' %}
    <div class="row">
        <div class="large-12 columns">
            <h1 class="text-center">Welcome to GuavaPress</h1>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="large-12 columns">
            <p></p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <h3>We&rsquo;re stoked you want to try web development with GuavaPress! </h3>
                <p>To get started, this file (index.html) includes some examples of JavaScript and basic styles you can
                    modify, play around with, or totally destroy as you learn.  Once you're through having fun with this document, you should check out:</p>
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <p><a target="_blank" href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the responsive front-end framework.</p>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <p><a target="_blank" href="http://github.com/zurb/foundation">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</p>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <p><a target="_blank" href="https://twitter.com/ZURBfoundation">@ZURBfoundation</a><br />Tweet
                            about what's happening in the Zurb Foundation space.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <p><a target="_blank" href="http://knockoutjs.com">Knockout.js</a><br />Develop dynamic Javacript user interfaces with the Model-View View Model (MVVM) pattern.
                        </p>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <p><a target="_blank" href="http://brunch.io/">Brunch</a><br />Learn about the benefits of our
                            automated build system.</p>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <p><a target="_blank" href="http://mozilla.github.io/nunjucks/">Nunjucks</a><br />Take full advantage of our sophisticated JavaScript templating engine.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-8 medium-8 columns">
            <h5>Here&rsquo;s your basic grid:</h5>
            <!-- Grid Example -->
            <div class="row">
                <div class="large-12 columns">
                    <div class="callout panel">
                        <p><strong>This is a twelve column section in a row.</strong> Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <div class="callout panel">
                        <p>Six columns</p>
                    </div>
                </div>
                <div class="large-6 medium-6 columns">
                    <div class="callout panel">
                        <p>Six columns</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-4 medium-4 small-4 columns">
                    <div class="callout panel">
                        <p>Four columns</p>
                    </div>
                </div>
                <div class="large-4 medium-4 small-4 columns">
                    <div class="callout panel">
                        <p>Four columns</p>
                    </div>
                </div>
                <div class="large-4 medium-4 small-4 columns">
                    <div class="callout panel">
                        <p>Four columns</p>
                    </div>
                </div>
            </div>
            <hr />
            <h5>We bet you&rsquo;ll need a form somewhere:</h5>
            <form>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Input Label</label>
                        <input type="text" placeholder="large-12.columns" />
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <label>Input Label</label>
                        <input type="text" placeholder="large-4.columns" />
                    </div>
                    <div class="large-4 medium-4 columns">
                        <label>Input Label</label>
                        <input type="text" placeholder="large-4.columns" />
                    </div>
                    <div class="large-4 medium-4 columns">
                        <div class="row collapse">
                            <label>Input Label</label>
                            <div class="small-9 columns">
                                <input type="text" placeholder="small-9.columns" />
                            </div>
                            <div class="small-3 columns">
                                <span class="postfix">.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Select Box</label>
                        <select>
                            <option value="husker">Husker</option>
                            <option value="starbuck">Starbuck</option>
                            <option value="hotdog">Hot Dog</option>
                            <option value="apollo">Apollo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <label>Choose Your Favorite</label>
                        <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
                        <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
                    </div>
                    <div class="large-6 medium-6 columns">
                        <label>Check these out</label>
                        <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                        <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Textarea Label</label>
                        <textarea placeholder="small-12.columns"></textarea>
                    </div>
                </div>
            </form>
            <hr>
            <h3>How about some <b><a target="_blank" href="http://knockoutjs.com">Knockout.js</a></b>:</h3>
            <ko-name-widget params='first: "Custom", last: "Element"'></ko-name-widget>
            <div class="row">
                <div class="large-12 columns">
                    <section class="app">
                        <h4>Knockout Data Binding Example! <i class="fa fa-thumbs-o-up"></i></h4>
                        <div class="callout panel">
                            <p>First name: <input data-bind="textInput: firstName" /></p>
                            <p>Last name: <input data-bind="textInput: lastName" /></p>
                            <p>Hello, <b><span data-bind="text: fullName"> </span></b>!</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        {% include "_aside.html" %}
    </div>

    {% for article in dates_page.object_list %}
    {% include '_article_summary.html' %}

    {% if loop.last and (dates_page.has_previous()
    or not dates_page.has_previous() and loop.length > 1) %}
    {% include 'pagination.html' %}

    {% else %}
    <section>
        <p>Nothing here.</p>
    </section>
    {% endif %}
    {% endfor %}
</div>
