<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <div class="contain-to-grid {{ NC.MENU_STICKY }}">
            <nav class="tab-bar" data-topbar role="navigation">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon"><span></span></a>
                </section>
                <section class="middle tab-bar-section">
                    <h1 class="title">Welcome to GuavaPress</h1>
                </section>
            </nav>

            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"><i class="fa fa-male"></i> About</a></li>
                    <li><a href="#"><i class="fa fa-rss-square"></i> Blog</a></li>
                    <li><label>FOLLOW</label></li>
                    <div class="row">
                        <a href="#"><i class="fa fa-github-alt"></i> GitHub</a>
                        <a href="#"><i class="fa fa-github-alt"></i> GitHub</a>
                        <a href="#"><i class="fa fa-github-alt"></i> GitHub</a>
                    </div>
                    <!--
                    <li><a href="#"><i class="fa fa-github-alt"></i> GitHub</a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fa fa-facebook-official "></i> Facebook</a></li>
                    -->
                </ul>
            </aside>
        </div>

        <section class="main-section">
            <article class="small-12 columns">
                <!-- Main Body -->
                {% include "_mainContent.html" %}
                <!-- End Main Body -->

                <!-- Footer -->
                {% include "_footer.html" %}
                <!-- End Footer -->
            </article>
        </section>

        <a class="exit-off-canvas"></a>
    </div>
</div>